In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set_theme(style="darkgrid")
plt.rcParams["figure.figsize"] = (20,5)

In [5]:
mode = 'train'
df = pd.read_csv(f'../../data/processed_filtered/shakespeare/shakespeare_{mode}_cross_predict_paraphrases.csv')
print(df.shape)
df = df[df['label']==1]
print(df.shape)

df.head()

(12593, 9)
(12593, 9)

,text,label,paraphrased1,paraphrased2,paraphrased3,pred_shakespeare_orig,pred_shakespeare_paraphrased1,pred_shakespeare_paraphrased2,pred_shakespeare_paraphrased3
0,The lady of the Strachy married the yeoman of ...,1,the lady of Strachy was married to a man from ...,the lady of Strachy was married to a man from ...,the lady of Strachy was married to a man from ...,0.765602,0.267794,0.255607,0.171455
1,"My lord, there needs no such apology.",1,"my lord, it's not necessary to apologize.","my lord, I don't have to apologize.","I'm sorry, my lord.",0.884759,0.006257,0.005844,0.016998
2,"Is it so, countrymen?",1,aren't they countrymen?,"aren't they, the countrymen?","aren't they, countrymen, right?",0.761651,0.013275,0.018199,0.009676
3,"There lies the duke asleep, and there the keys.",1,there's a duke asleep and the keys.,there's a duke asleep and there's the keys.,there's the duke asleep and the keys.,0.887439,0.821328,0.475597,0.710960
4,"Now is it Rome indeed, and room enough, When t...",1,"there's only one man in Rome, and there's enou...","there's only one man in Rome now, and there's ...",there's only one man in Rome now.,0.915007,0.007556,0.007356,0.007267

In [6]:
df1 = df.filter(['paraphrased1','text'])
df1.columns = ['input','output']
df2 = df.filter(['paraphrased2','text'])
df2.columns = ['input','output']
df3 = df.filter(['paraphrased3','text'])
df3.columns = ['input','output']
df_fin = pd.concat([df1,df2,df3], axis=0)

df_fin.to_csv(f'../../data/pseudo/shakespeare/{mode}_binary.csv', header=False, index=False)

(37779, 2)

In [9]:
mode = 'dev'
df = pd.read_csv(f'../../data/processed_filtered/abstract/{mode}_paraphrased.csv', header=None)
print(df.shape)
df = df[df[1]==1]
print(df.shape)

df.head()

(20306, 5)
(8698, 5)

,0,1,2,3,4
0,Scalable Data Augmentation (SDA) provides a fr...,1,a framework for the formation of deep learning...,analysis of the scaled data (SDA) is a framewo...,analysis of the data (SDA) is a framework for ...
2,Deep nets (or multilayered neural networks) ar...,1,"using the training data, it is proposed to cre...","using the training data, it is proposed to cre...","using the training data, it is proposed to cre..."
5,2x on HPC workloads and 1,1,2x the HPC workload and 1,2x the workload of HPC and 1,2x the HPC workload and 1x
7,These experimental results validate the abilit...,1,these experimental results confirm the ability...,these experimental results confirm the ability...,these experimental results confirm the ability...
8,A cost-effective tool to detect glaucoma could...,1,"in a larger patient population, a cost-effecti...","in a larger patient population, a cost-effecti...","in a larger patient population, a cost-effecti..."

In [10]:
df1 = df.filter([2,0])
df1.columns = ['input','output']
df2 = df.filter([3,0])
df2.columns = ['input','output']
df3 = df.filter([4,0])
df3.columns = ['input','output']
df_fin = pd.concat([df1,df2,df3], axis=0)

df_fin.to_csv(f'../../data/pseudo/abstract/{mode}_binary.csv', header=False, index=False)

In [13]:
mode = 'train'
df = pd.read_csv(f'../../data/processed_filtered/wiki/{mode}_paraphrased.csv', header=None)
print(df.shape)
df = df[df[1]==1]
print(df.shape)

df.head()

(71388, 5)
(71388, 5)

,0,1,2,3,4
0,The cruise vector is a vector tangent to the h...,1,the eagle is a vector of a hypothetical hypers...,the eagle is a vector of a hypothetical hypers...,the eagle is a vector of a hypothetical hypers...
1,This process can be achieved by applying Singu...,1,the application of Singular values to x can be...,the application of Singular Value Decompositio...,the application of Singular values to x can ac...
2,Multi Expression Programming websiteMulti Expr...,1,multi-language programming website Multi-expre...,multi-language programming website Multi-langu...,multi-language programming website Multi-langu...
3,"Prior to joining Powerset, Pell was an Entrepr...",1,Pell served as an Entrepreneur in Residence at...,Pell served as an Entrepreneur at Mayfield Fun...,Pell served as an Entrepreneur in Residence at...
4,"and continued development of omni-font OCR, wh...",1,"in the late 1960s, CompuScan was used by compa...","in the late 1960s, CompuScan was used by compa...","in the late 1960s, CompuScan was used by compa..."

In [14]:
df1 = df.filter([2,0])
df1.columns = ['input','output']
df2 = df.filter([3,0])
df2.columns = ['input','output']
df3 = df.filter([4,0])
df3.columns = ['input','output']
df_fin = pd.concat([df1,df2,df3], axis=0)

df_fin.to_csv(f'../../data/pseudo/wiki/{mode}_binary.csv', header=False, index=False)